package ${parentName}.controller.${modulePageName};

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.*;
import lombok.AllArgsConstructor;
import cn.hutool.core.collection.CollectionUtil;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.bm.center.base.util.Result;
import com.bm.center.base.util.CopyUtil;
import com.bm.center.base.response.Result;
import com.thunder.util.PageUtils;
import com.thunder.util.CopyMybatisUtils;
import com.thunder.util.WrapperUtil;
import org.springframework.validation.annotation.Validated;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import ${parentName}.service.${modulePageName}.$!{table.serviceName};
import ${parentName}.entity.${modulePageName}.${entity};
import javax.validation.Valid;
import  ${parentName}.form.${modulePageName}.$!{formPageName};
import ${parentName}.vo.${modulePageName}.$!{voPageName};
import  ${parentName}.query.${modulePageName}.$!{queryPageName};
import  ${parentName}.form.${modulePageName}.$!{idFormPageName};
import ${parentName}.form.${modulePageName}.$!{operatingVoPageName};
import lombok.SneakyThrows;
import java.util.List;
import com.thunder.validator.UpdateAction;
/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@AllArgsConstructor
@RequestMapping("$!{modulePageName}")
@Api(value = "$!{table.comment}", tags = "$!{table.comment}接口")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end
#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    private final $!{table.serviceName} $!{moduleName}Service;

    /**
     * 分页列表
     *
     * @param $!{moduleName}form 　搜索关键词
     * @return Result
     */
    @SneakyThrows
    @PostMapping("/page")
    @ApiOperation(value = "$!{table.comment}列表", notes = "分页查询")
    public PageResult<$!{caseModuleName}VO> page(@RequestBody $!{caseModuleName}Form $!{moduleName}form) {
		QueryWrapper<${entity}> queryWrapper = WrapperUtil.entityToWrapper($!{moduleName}form, $!{caseModuleName}Query.class);
		//封装分页参数
		Page<${entity}> pageForm = PageUtils.getPage($!{moduleName}form);
		IPage<${entity}> page = $!{moduleName}Service.page(pageForm, queryWrapper);
		IPage<$!{caseModuleName}VO> pageVo = CopyMybatisUtils.transfer(page,$!{caseModuleName}VO.class);
		return PageResult.success(pageVo);
    }

	/**
	 * $!{table.comment}信息
	 *
	 * @param $!{moduleName}IdForm Id
	 * @return Result
	 */
	@PostMapping("/get")
	@ApiOperation(value = "$!{table.comment}信息", notes = "根据ID查询")
	public Result<$!{caseModuleName}VO> get(@RequestBody $!{caseModuleName}IdForm $!{moduleName}IdForm) {
		${entity} $!{table.entityPath} = $!{moduleName}Service.getById($!{moduleName}IdForm.getId());
		$!{caseModuleName}VO $!{moduleName}vo =CopyUtil.transfer($!{table.entityPath},$!{caseModuleName}VO.class);
		return Result.success($!{moduleName}vo);
	}

	/**
	 * $!{table.comment}新增
	 *
	 * @param $!{moduleName}saveForm 对象
	 * @return Result
	 */
	@PostMapping("/add")
	@ApiOperation(value = "$!{table.comment}新增", notes = "$!{table.comment}新增")
	public Result add(@Validated() @RequestBody $!{caseModuleName}SaveForm $!{moduleName}saveForm) {
		${entity} $!{table.entityPath} =CopyUtil.transfer($!{moduleName}saveForm , ${entity}.class);
		boolean save = $!{moduleName}Service.save($!{table.entityPath});
		return Result.success(save);
	}

	/**
	 * $!{table.comment}修改
	 *
	 * @param $!{moduleName}saveForm 对象
	 * @return Result
	 */
	@PostMapping("/update")
	@ApiOperation(value = "$!{table.comment}修改", notes = "$!{table.comment}修改")
	public Result update(@Validated(UpdateAction.class) @RequestBody $!{caseModuleName}SaveForm $!{moduleName}saveForm ) {
		${entity} $!{table.entityPath} =CopyUtil.transfer($!{moduleName}saveForm , ${entity}.class);
		boolean save = $!{moduleName}Service.updateById($!{table.entityPath});
		return Result.success(save);
	}
	/**
	 * $!{table.comment}删除
	 *
	 * @param $!{moduleName}IdForm  id对象
	 * @return Result
	 */
	@PostMapping("/del")
	@ApiOperation(value = "$!{table.comment}删除", notes = "$!{table.comment}删除")
	public Result del(@RequestBody $!{caseModuleName}IdForm $!{moduleName}IdForm) {
		boolean save = $!{moduleName}Service.removeById($!{moduleName}IdForm.getId());
		return Result.success(save);
	}

}

#end