package ${package.Controller};

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.*;
import lombok.AllArgsConstructor;
import cn.hutool.core.collection.CollectionUtil;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.bm.center.base.util.ResUtil;
import com.bm.center.base.util.CopyUtil;
import com.bm.center.base.response.ResponseEntity;
import com.bm001.util.PageUtils;
import com.bm001.util.CopyMybatisUtils;
import com.bm001.util.WrapperUtil;

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import $!{package.Service}.$!{table.serviceName};
import ${package.Entity}.${entity};
import javax.validation.Valid;
import ${package.Other}form.$!{caseModuleName}Form;
import ${package.Other}vo.$!{caseModuleName}Vo;
import lombok.SneakyThrows;
import java.util.List;
/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@AllArgsConstructor
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
@Api(value = "$!{table.comment}", tags = "$!{table.comment}接口")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end
#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    private final $!{table.serviceName} $!{moduleName}Service;

    /**
     * 分页列表
     *
     * @param $!{moduleName}form 　搜索关键词
     * @return Result
     */
    @SneakyThrows
    @PostMapping("/page")
    @ApiOperation(value = "$!{table.comment}列表", notes = "分页查询")
    public ResponseEntity<IPage<$!{caseModuleName}Vo>> page(@RequestBody $!{caseModuleName}Form $!{moduleName}form) {
		QueryWrapper<${entity}> queryWrapper = WrapperUtil.entityToWrapper(testform, ${entity}.class);
		//封装分页参数
		Page<${entity}> pageForm = PageUtils.getPage($!{moduleName}form);
		IPage<${entity}> page = $!{moduleName}Service.listPage(pageForm, queryWrapper);
		IPage<$!{caseModuleName}Vo> pageVo = CopyMybatisUtils.transfer(page,$!{caseModuleName}Vo.class);
		return ResUtil.getSuccessResult(pageVo);
    }

	/**
	 * $!{table.comment}信息
	 *
	 * @param id Id
	 * @return Result
	 */
	@GetMapping("/get")
	@ApiOperation(value = "$!{table.comment}信息", notes = "根据ID查询")
	@ApiImplicitParams({
			@ApiImplicitParam(name = "id", required = true, value = "ID", paramType = "form"),
	})
	public ResponseEntity<$!{caseModuleName}Vo> get(@RequestParam String id) {
		${entity} bo = $!{moduleName}Service.getById(id);
		$!{caseModuleName}Vo $!{moduleName}vo =CopyUtil.transfer(bo,$!{caseModuleName}Vo.class);
		return ResUtil.getSuccessResult($!{moduleName}vo);
	}

	/**
	 * $!{table.comment}设置
	 *
	 * @param $!{table.entityPath} $!{entity} 对象
	 * @return Result
	 */
	@PostMapping("/set")
	@ApiOperation(value = "$!{table.comment}设置", notes = "$!{table.comment}设置,支持新增或修改")
	public ResponseEntity set(@Valid @RequestBody $!{entity} $!{table.entityPath}) {
			return ResUtil.getSuccessResult();
	}

	/**
	 * $!{table.comment}删除
	 *
	 * @param ids id字符串，根据,号分隔
	 * @return Result
	 */
	@PostMapping("/del")
	@ApiOperation(value = "$!{table.comment}删除", notes = "$!{table.comment}删除")
	@ApiImplicitParams({
			@ApiImplicitParam(name = "ids", required = true, value = "多个用,号隔开", paramType = "form")
	})
	public ResponseEntity del(@RequestParam String ids) {
		return ResUtil.getSuccessResult();
	}

}

#end