package ${package.Other}query;
#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
#if(${entityLombokModel})
import lombok.Getter;
import lombok.Setter;
#if(${chainModel})
import lombok.experimental.Accessors;
#end
import com.bm001.entity.BaseQuery;
import com.bm001.annotation.QueryField;
import java.util.List;
#end

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${entityLombokModel})
@Getter
@Setter
#if(${chainModel})
@Accessors(chain = true)
#end
#end
public class ${queryName} extends BaseQuery{

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
    #if("$!field.comment" != "")
	/**
	 * ${field.comment}
	 */
    #end
    #if("$!field.propertyType" != "Date")
	@QueryField(type =QueryField.QueryType.EQ)
    #end
    private ${field.propertyType} ${field.propertyName};
    #if("$!field.propertyName" == "name")
	/**
     * 名称模糊查询
     */
	@QueryField(value="id", type = QueryField.QueryType.LIKE)
	private String nameLike;
    #end
    #if("$!field.propertyName" == "id")
	/**
     * id集合查询
     */
	@QueryField(value="id", type =QueryField.QueryType.LIST)
	private List<$!{field.propertyType}> idList;
    #end
#end
    /**
     * 最小时间
     */
    @QueryField(value="add_time", type =QueryField.QueryType.MIN)
    private Date minAddTime;

    /**
     * 最大时间
     */
    @QueryField(value="add_time", type =QueryField.QueryType.MAX)
    private Date maxAddTime;

## ----------  END 字段循环遍历  ----------
#if(!${entityLombokModel})
    #foreach($field in ${table.fields})
        #if(${field.propertyType.equals("boolean")})
            #set($getprefix="is")
        #else
            #set($getprefix="get")
        #end

	public ${field.propertyType} ${getprefix}${field.capitalName}() {
			return ${field.propertyName};
			}

        #if(${chainModel})
		public ${entity} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
        #else
		public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
        #end
			this.${field.propertyName} = ${field.propertyName};
        #if(${chainModel})
				return this;
        #end
			}
    #end
    ## --foreach end---
#end
## --end of #if(!${entityLombokModel})--
#if(${entityColumnConstant})
    #foreach($field in ${table.fields})
	public static final String ${field.name.toUpperCase()} = "${field.name}";

    #end
#end
#if(${activeRecord})
    @Override
    public Serializable pkVal() {
        #if(${keyPropertyName})
                return this.${keyPropertyName};
        #else
                return null;
        #end
    }

#end
#if(!${entityLombokModel})
    @Override
    public String toString() {
		return "${entity}{" +
    #foreach($field in ${table.fields})
        #if($!{foreach.index}==0)
				"${field.propertyName}=" + ${field.propertyName} +
        #else
				", ${field.propertyName}=" + ${field.propertyName} +
        #end
    #end
		"}";
		}
#end
}
